# use something like openssl
BETTER_AUTH_SECRET=
# url of hono app
BETTER_AUTH_URL=http://localhost:3000
# url of database
DATABASE_URL=file:./dev.db

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

CHAT_BASE_URL=
CHAT_API_KEY=
